MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE=shop

MONGO_URL=mongodb://admin:password@mongodb:27017
MONGO_DB_NAME=shop

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=shop_pg
POSTGRES_USER=pg_admin
POSTGRES_PASSWORD=pg_password